<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Paparazzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,627}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,627}}</string>
                <key>sourceSize</key>
                <string>{458,627}</string>
            </dict>
            <key>Paparazzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{458,627}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,627}}</string>
                <key>sourceSize</key>
                <string>{458,627}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PaparazziSheet.png</string>
            <key>size</key>
            <string>{462,1459}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bda44f3f61d9d9779f2d9371ab81d3a:f37ce85a2581c89d14bd51ba5f76336d:996470fde82fde14b38f9ec81e8c82a9$</string>
            <key>textureFileName</key>
            <string>PaparazziSheet.png</string>
        </dict>
    </dict>
</plist>
