<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CrazedFans01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1200,1172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1172}}</string>
                <key>sourceSize</key>
                <string>{1200,1172}</string>
            </dict>
            <key>CrazedFans02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{1200,1172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1172}}</string>
                <key>sourceSize</key>
                <string>{1200,1172}</string>
            </dict>
            <key>CrazedFans03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,2},{1200,1172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1172}}</string>
                <key>sourceSize</key>
                <string>{1200,1172}</string>
            </dict>
            <key>CrazedFans04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3608,2},{1200,1172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1172}}</string>
                <key>sourceSize</key>
                <string>{1200,1172}</string>
            </dict>
            <key>CrazedFans05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{1200,1172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1172}}</string>
                <key>sourceSize</key>
                <string>{1200,1172}</string>
            </dict>
            <key>CrazedFans06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1176},{1200,1172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1172}}</string>
                <key>sourceSize</key>
                <string>{1200,1172}</string>
            </dict>
            <key>CrazedFans07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,1176},{1200,1172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1172}}</string>
                <key>sourceSize</key>
                <string>{1200,1172}</string>
            </dict>
            <key>CrazedFans08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3608,1176},{1200,1172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1172}}</string>
                <key>sourceSize</key>
                <string>{1200,1172}</string>
            </dict>
            <key>CrazedFans09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2350},{1200,1172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1172}}</string>
                <key>sourceSize</key>
                <string>{1200,1172}</string>
            </dict>
            <key>CrazedFans10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2350},{1200,1172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1172}}</string>
                <key>sourceSize</key>
                <string>{1200,1172}</string>
            </dict>
            <key>CrazedFans11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,2350},{1200,1172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1172}}</string>
                <key>sourceSize</key>
                <string>{1200,1172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CrowdSheet.png</string>
            <key>size</key>
            <string>{4810,3524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:418075c77ed994162c1ca8e914365599:2b59a6ab431292ff3c4fe1bb20ffbe7b:32eee95d357a18c2c8688bca3ad7a6da$</string>
            <key>textureFileName</key>
            <string>CrowdSheet.png</string>
        </dict>
    </dict>
</plist>
